<h1> Your Profile </h1>

<div class="row">
	<div class="col-md-3">
		Joined <%= @user2.created_at	%>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<%= best_in_place @user2, :description, :as => :textarea, url:  edit_user_registration_path, :ok_button => 'Save', :cancel_button => 'Cancel',:activator => "#activator1" %>
		<a href="#" id="activator1">Edit</a>
	</div>

</div>	
<div class="row">	
	<div class="col-md-3">
		<%= @user2.location	%>
	</div>
</div>



